@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Tapestry&family=Water+Brush&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#header .header-general {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-general__title {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #10375C;
}
#header .header-general__nav {
  margin-left: 40px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #222831;
}
#header .header-general__btn a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FF5722;
}
#header .header-general__btn button {
  margin-left: 20px;
  padding: 10px 30px;
  border: 1px solid white;
  color: wheat;
  cursor: pointer;
  font-size: 18px;
  background: #FF5722;
  box-shadow: 0 4px 16px rgba(255, 87, 34, 0.32);
  transition: 0.4s;
}
#header .header-general__btn button:hover {
  transform: scale(1.1);
  background: transparent;
  color: #FF5722;
}
#header .header-general__mobal {
  display: none;
}
#header .header-general__mobal__block {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.76);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header-general__mobal__block__square {
  width: 700px;
  height: 350px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  animation: key 0.4s alternate linear;
}
@keyframes key {
  0% {
    transform: translateX(1200px);
  }
  75% {
    transform: translateX(700px);
  }
  100% {
    transform: translateX(0);
  }
}
#header .header-general__mobal__block__square h1 {
  color: red;
  font-family: sans-serif;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: 0.4s;
}
#header .header-general__mobal__block__square h1:hover {
  transform: scale(1.1);
}
#header .header-general__mobal__block__square input {
  width: 90%;
  height: 40px;
  margin: 10px 0;
  padding-left: 20px;
}

#hero .hero-general__title {
  display: flex;
}
#hero .hero-general__title h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #222831;
}
#hero .hero-general__title div {
  width: 10px;
  height: 2px;
}
#hero .hero-general__item {
  display: flex;
  justify-content: space-between;
}
#hero .hero-general__item h1 {
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
  color: #10375C;
}
#hero .hero-general__item p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #6A6A6A;
}
#hero .hero-general__bot {
  display: flex;
}
#hero .hero-general__bot img {
  margin-left: 300px;
}
#hero .hero-general__box {
  margin-top: 100px;
  position: absolute;
  width: 445px;
  height: 459px;
  background: #10375C;
}
#hero .hero-general__box h1 {
  padding-left: 40px;
  padding-top: 42px;
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
#hero .hero-general__box select {
  margin-bottom: 20px;
  margin-left: 40px;
  width: 365px;
  height: 68px;
  background: #0D2C4A;
  color: white;
}
#hero .hero-general__box button {
  margin-left: 40px;
  cursor: pointer;
  width: 363px;
  height: 53px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  background: #FF5722;
}

#spaces {
  margin-top: 100px;
}
#spaces .spaces-general__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
#spaces .spaces-general__title h1 {
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375C;
}
#spaces .spaces-general__title h1 p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #9A9A9A;
}
#spaces .spaces-general__bot {
  display: flex;
  justify-content: space-between;
}
#spaces .spaces-general__box {
  width: 350px;
  height: 420px;
  background: #10375C;
}
#spaces .spaces-general__box img {
  background: rgba(16, 55, 92, 0.3);
  margin-top: 10px;
  margin-left: 250px;
  margin-bottom: 20px;
}
#spaces .spaces-general__box h1 {
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 15px;
}
#spaces .spaces-general__box p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

#work {
  margin-top: 100px;
}
#work .work-general__bot {
  display: flex;
  justify-content: space-between;
}
#work .work-general__box {
  display: flex;
  margin-bottom: 70px;
}
#work .work-general__title {
  display: flex;
}
#work .work-general__item {
  margin-left: 24px;
}
#work .work-general__item h1 {
  margin-top: 19px;
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #10375C;
}
#work .work-general__item p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}
#work .work-general__title1 {
  display: flex;
  margin-left: 124px;
}
#work .work-general__item {
  margin-left: 24px;
}
#work .work-general__item h1 {
  margin-top: 19px;
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #10375C;
}
#work .work-general__item p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}
#work .work-general__box1 {
  width: 540px;
  height: 421px;
  background: #10375C;
}
#work .work-general__title2 {
  display: flex;
  margin-left: 50px;
  margin-top: 50px;
}
#work .work-general__title2 h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
#work .work-general__title2 div {
  margin-left: 10px;
  margin-top: 15px;
  width: 73px;
  height: 2px;
  background: #FFFFFF;
}
#work .work-general__item1 {
  margin-left: 50px;
}
#work .work-general__item1 h1 {
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #FFFFFF;
}
#work .work-general__item1 p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

#our .our-general__title {
  margin-left: 196px;
}
#our .our-general__title h2 {
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375C;
}
#our .our-general__item {
  display: flex;
}
#our .our-general__item h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #222831;
}
#our .our-general__item div {
  margin-left: 10px;
  margin-top: 15px;
  width: 73px;
  height: 2px;
  background: #222831;
}
#our .our-general__row {
  position: absolute;
  right: 20px;
  top: 0;
}
#our .our-general__card1 {
  width: 729px;
  height: 453px;
}
#our .our-general__card1 img {
  width: 529px;
  height: 353px;
}
#our .our-general__card2 {
  width: 729px;
  height: 453px;
}
#our .our-general__card2 img {
  width: 529px;
  height: 353px;
}
#our .our-general__card3 {
  width: 729px;
  height: 453px;
}
#our .our-general__card3 img {
  width: 529px;
  height: 353px;
}
#our .our-general__card4 {
  width: 729px;
  height: 453px;
}
#our .our-general__card4 img {
  width: 529px;
  height: 353px;
}
#our .our-general__card5 {
  width: 729px;
  height: 453px;
}
#our .our-general__card5 img {
  width: 529px;
  height: 353px;
}
#our .our-general__content {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
#our .our-general__box {
  margin-top: 100px;
}
#our .our-general__boxx {
  position: relative;
}
#our .our-general__radio {
  opacity: 0;
}
#our .our-general__label {
  margin-top: 20px;
  margin-left: 230px;
  padding: 15px 36px;
  display: flex;
  margin-bottom: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}
#our .our-general__label:hover {
  background: #FF5722;
  color: white;
}
#our .our-general #Spacious:checked ~ .our-general__row .our-general__content-1 {
  display: flex;
}
#our .our-general #Comfortable:checked ~ .our-general__row .our-general__content-2 {
  display: flex;
}
#our .our-general #Cozy:checked ~ .our-general__row .our-general__content-3 {
  display: flex;
}
#our .our-general #Child:checked ~ .our-general__row .our-general__content-4 {
  display: flex;
}
#our .our-general #Outdoor:checked ~ .our-general__row .our-general__content-5 {
  display: flex;
}

#gallery .gallery-general__title {
  margin-top: 112px;
  margin-bottom: 100px;
  margin-left: 196px;
}
#gallery .gallery-general__title h2 {
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375C;
}
#gallery .gallery-general__item {
  display: flex;
}
#gallery .gallery-general__item h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #222831;
}
#gallery .gallery-general__item div {
  margin-left: 10px;
  margin-top: 15px;
  width: 73px;
  height: 2px;
  background: #222831;
}
#gallery .gallery-general__bot {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 350px;
}

#uses {
  margin-top: 120px;
}
#uses .uses-general__title {
  margin-bottom: 60px;
}
#uses .uses-general__title h1 {
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #0D2C4A;
}
#uses .uses-general__title p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #9A9A9A;
}
#uses .uses-general__box {
  display: flex;
  justify-content: space-between;
}
#uses .uses-general__box img {
  cursor: pointer;
}

#reviews {
  margin-top: 140px;
  height: 100vh;
}
#reviews .reviews-general__title h2 {
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375C;
}
#reviews .reviews-general__item {
  display: flex;
}
#reviews .reviews-general__item h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #222831;
}
#reviews .reviews-general__item div {
  margin-left: 10px;
  margin-top: 15px;
  width: 73px;
  height: 2px;
  background: #222831;
}
#reviews .reviews-general__block {
  margin-left: 40px;
  margin-top: 60px;
  background: #10375C;
  width: 445px;
  height: 393px;
}
#reviews .reviews-general__block h2 {
  padding-top: 50px;
  margin-left: 40px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
#reviews .reviews-general__bot {
  display: flex;
  margin-left: 40px;
  margin-top: 100px;
}
#reviews .reviews-general__bot img {
  width: 60px;
  height: 60px;
}
#reviews .reviews-general__box {
  margin-left: 16px;
}
#reviews .reviews-general__box h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
#reviews .reviews-general__box p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

#book .book-general__title h1 {
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  color: #10375C;
}
#book .book-general__bot {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#book .book-general__bot:hover {
  background: #0D2C4A;
}
#book .book-general__box {
  width: 350px;
  height: 171px;
  transition: 0.4s;
}
#book .book-general__box:hover {
  background: #FF5722;
  color: white;
}
#book .book-general__box h1 {
  margin-top: 42px;
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
#book .book-general__box:hover {
  color: white;
}
#book .book-general__box select {
  padding: 5px 8px;
  text-align: center;
  margin-left: 150px;
  margin-top: 50px;
  color: #FF5722;
}
#book .book-general__item {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FF5722;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  animation: kk 0.4s reverse;
}
@keyframes kk {
  0% {
    transform: rotate(-360deg);
  }
}
#book .book-general__item h2 {
  margin-left: 30px;
}

#new {
  margin-top: 100px;
}
#new .new-general__title {
  display: flex;
  justify-content: space-between;
}
#new .new-general__title h1 {
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375C;
}
#new .new-general__item {
  margin-top: 15px;
  display: flex;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FF5722;
  animation: kk 0.4s reverse;
}
@keyframes kk {
  0% {
    transform: rotate(360deg);
  }
}
#new .new-general__item h3 {
  margin-left: 20px;
}
#new .new-general__bot {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
#new .new-general__box {
  width: 380px;
  height: 320px;
  background: white;
}
#new .new-general__box h1 {
  margin: 30px;
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #222831;
}
#new .new-general__box p {
  margin-left: 30px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
  margin-bottom: 20px;
}
#new .new-general__box__bob {
  display: flex;
  margin-left: 30px;
}
#new .new-general__box__bob__lol {
  margin-left: 20px;
}
#new .new-general__box__bob__lol h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #10375C;
}
#new .new-general__box__bob__lol h3 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}
#new .new-general__box1 h1 {
  margin-left: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #222831;
}
#new .new-general__box1 p {
  margin-left: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}
#new .new-general__box2 {
  margin-top: 30px;
}
#new .new-general__box2 h1 {
  margin-left: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #222831;
}
#new .new-general__box2 p {
  margin-left: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}
#new .new-general__box3 h1 {
  margin-left: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #222831;
}
#new .new-general__box3 p {
  margin-left: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}

#member {
  background: #10375C;
}
#member .member-general__bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#member .member-general__bot img {
  margin-top: 20px;
}
#member .member-general__box {
  margin-top: 30px;
}
#member .member-general__box h2 {
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#member .member-general__box p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #DFDFDF;
  margin-bottom: 30px;
}
#member .member-general__box button {
  width: 350px;
  height: 53px;
  background: #FF5722;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  cursor: pointer;
}
#member .member-general__title {
  display: flex;
  margin-bottom: 20px;
}
#member .member-general__title h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #F8F8F8;
}
#member .member-general__title div {
  margin-left: 20px;
  margin-top: 15px;
  width: 60px;
  height: 2px;
  background: white;
  color: white;
}
#member .member-general__img {
  position: absolute;
  right: 30px;
}

#Frispes {
  background: #0D2C4A;
}
#Frispes .Frispes-general__block {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}
#Frispes .Frispes-general__bot h1 {
  font-family: "Lora", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#Frispes .Frispes-general__bot p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #F8F8F8;
  opacity: 0.85;
  margin-bottom: 30px;
}
#Frispes .Frispes-general__box h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 24px;
}
#Frispes .Frispes-general__box h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 10px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
